<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row topbar">
    <div class="col-md-10">

    <div class="col-md-12">
      <nav>
        <ul>
          <hr>
          <li><a routerLink = '/landing' routerLinkActive = 'active'>Go to landing page</a></li>
          <hr>
          <li><a routerLink = '/repositories' routerLinkActive = 'active'>Search For A User's Repository</a></li>
          <hr>
        </ul>
      </nav>
      </div>


<div style="text-align:center">
  <div style="color:yellow">
    <div style="font-size:50px">




  <h1>
    GithubSearch
  </h1>
  <img width="200" alt="Github logo" src="https://image.flaticon.com/icons/svg/25/25231.svg">
</div>
</div>
</div>
</div>
</div>
</div>


<h2>click the icon below to see the developer: </h2>

<a href="https://www.facebook.com/brio.bryanz">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/600px-Facebook_logo_%28square%29.png" alt="Facebook logo" style="width:50px;height:50px;border:0">
  </a>
<router-outlet></router-outlet>
